<form method="GET">
    {{ form.as_p }}
    <input type="submit" value="Check">
</form>
{% if timetable %}
    <table border="2">
        <thead>
        <tr>
            <th>Day</th>
            <th>Period 1</th>
            <th>Period 2</th>
            <th>Period 3</th>
            <th>Period 4</th>
            <th>Period 5</th>
            <th>Period 6</th>
            <th>Period 7</th>
        </tr>
        </thead>
        <tbody>
        {% for t in timetable %}
            <tr>
                <td>{{ t.day }}</td>
                <td>{{ t.period1 }}</td>
                <td>{{ t.period2 }}</td>
                <td>{{ t.period3 }}</td>
                <td>{{ t.period4 }}</td>
                <td>{{ t.period5 }}</td>
                <td>{{ t.period6 }}</td>
                <td>{{ t.period7 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
